<header>
  <div class="header-container">
    <div class="header-left">
      <a href="/" title="Home">
        <img [src]=logoImage alt="logo" class="header-small-logo-img">
      </a>
    </div>
    <div class="header-right">
      <div class="header-nav-wrapper">
        <nav class="nav-wrap">
          <div class="nav-item">
            <a href="#">Become a host</a>
          </div>
          <div class="nav-item">
            <a href="#">Trips</a>
          </div>
          <div class="nav-item">
            <a href="#">Messages</a>
          </div>
        </nav>
      </div>
      <div class="header-profile-wrapper">
        <a href="#" title="Profile" class="profile">
          <img [src]=userProfile alt="profile" class="header-logo">
        </a>
      </div>
    </div>
  </div>
</header>
