<footer>
  <div class="footer-container">
    <div class="footer-column">
      <div class="Airbnb"><a href="#" class="footer-column-title">Airbnb</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">About</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Press</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Help</a></div>
    </div>
    <div class="footer-column">
      <div class="Discover"><a href="#" class="footer-column-title">Discover</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Travel credit</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Business</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Guidebooks</a></div>
    </div>
    <div class="footer-column">
      <div class="Hosting"><a href="#" class="footer-column-title">Hosting</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Why host</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Hospitality</a></div>
      <div class="footer-item"><a href="#" class="footer-column-item-title">Community</a></div>
    </div>
  </div>
</footer>
